<div class="container">
  <h1>Modifier une mission</h1>
  <ng-container *ngIf="data != undefined">
    <ng-container *ngIf="data.wording != ''">
      <div class="centered">
        <input type="text" [(ngModel)]="data.wording" class="custom-input" />
      </div>
      <div class="centered">
        <table>
          <ng-container *ngFor="let action of actions">
            <tr>
              <td *ngIf="action != undefined">{{ action.wording }}</td>
              <td>
                <button
                  mat-icon-button
                  class="example-icon"
                  aria-label="Example icon-button with menu icon"
                  (click)="delete(action.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
      <div class="container-center line" style="padding: 10px">
        <div class="container">
          <h2>Ajouter une action</h2>
        </div>
        <select
          [(ngModel)]="selectedId"
          name="selectedItem"
          class="custom-input"
        >
          <option *ngFor="let item of actionsglobal" [value]="item.id">
            {{ item.wording }}
          </option>
        </select>
      </div>
    </ng-container>
  </ng-container>

  <div class="centered">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="refresh()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    <ng-container *ngIf="data != undefined">
      <ng-container *ngIf="data.wording != ''">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="modify()"
        >
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
  <div class="centered"></div>
</div>
