.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-custom {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
}

.mat-mdc-icon-button:hover {
  background-color: var(--primary-color);
}
