<p>
  <mat-toolbar class="mat-toolbar-custom">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="navigateTo('')"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <ng-container *ngIf="!logged">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="navigateTo('connection')"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="navigateTo('register')"
      >
        <mat-icon>portrait</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="logged">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="navigateTo('all-actions')"
      >
        <mat-icon>flight_takeoff</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="navigateTo('all-missions')"
      >
        <mat-icon>free_breakfast</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        (click)="logout()"
      >
        <mat-icon>keyboard_tab</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
  <app-carousel></app-carousel>
</p>
