.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Espacement entre l'input et le bouton */
}

td:not(:last-child) {
  width: 300px;
  text-align: center;
}
