<div class="table-container">
  <h1>Tableau des inscriptions</h1>
  <table>
    <thead>
      <tr>
        <th>Nom de la mission</th>
        <th>Date de l'inscritpion</th>
        <th>Liste des actions</th>
        <th>Score des actions</th>
        <th>Effectuer action</th>
        <th>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            (click)="add()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inscriptions">
        <td>{{ item.fkMissionWording }}</td>
        <td>{{ item.date }}</td>
        <td>
          <span *ngFor="let action of actionsByInscription[item.id]">
            <div style="padding-top: 2px">
              {{ action.wording }}
            </div>
            <br />
          </span>
        </td>
        <td>
          <span *ngFor="let action of actionsByInscription[item.id]">
            <ng-container *ngIf="action != null">
              <ng-container *ngIf="scoreActionsByInscription[item.id] != null">
                <div style="padding-top: 2px">
                  {{ scoreActionsByInscription[item.id][action.id] }}
                </div>
              </ng-container>
            </ng-container>
            <br />
          </span>
        </td>
        <td>
          <span *ngFor="let action of actionsByInscription[item.id]">
            <ng-container *ngIf="action != null">
              <ng-container *ngIf="scoreActionsByInscription[item.id] != null">
                <div style="padding-bottom: 0">
                  <input
                    type="checkbox"
                    [checked]="booleanActionsByInscription[item.id][action.id]"
                    (change)="onCheckboxChange(item.id, action.id)"
                  />
                </div>
              </ng-container>
            </ng-container>
            <br />
          </span>
        </td>
        <td>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            (click)="delete(item.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
