/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--primary-color);
}

:root {
  --primary-color: rgb(24, 24, 24);
  --secondary-color: #f7f5b6;
  --third-color: #f4cfdf;
  --fourth-color: black;
  --fifth-color: #9ac8eb;
  --test-color: red;
}
